<div class="jumbotron">
    <h1>Resolver v1.0</h1>
    <p class="lead"></p>
</div>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            News goes here. Perhaps a podcast or a AMA with law enforcement. You get the idea.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Clusters</h2>
        <p>
            How does one browse a cluster?
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recent Cases</h2>
        <p>
            Recent cases that have been created. Perhaps threads too?
        </p>
    </div>
</div>